{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Date of Transaction</th>
            <th>Stock Symbol</th>
            <th>Qty. of Shares</th>
            <th>Share Price</th>
        </tr>
        {% for rows in rows %}
        <tr>
            <td>{{'time'}}</td>
            <td>{{'symbol.upper()'}}</td>
            <td>{{'shares'}}</td>
            <td>{{'price'}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}